{% extends "base_generic.html" %}

{% block content %}
  <main class="help-content">
    <h1 class="help-title">Ayuda</h1>
    <p class="help-content">Autoría: Esther Sánchez Fernández</p>
    <p>Esta aplicación permite comentar en cámaras y visualizar comentarios de otros usuarios.</p>
    <p>No es necesario autenticarse para comentar o ver comentarios.</p>
    <p>En la página principal están listados los comentarios más recientes.</p>
    <p>En la página de cada cámara se muestra su información, imagen actual, me gustas y comentarios.</p>
  </main>
{% endblock %}